.W_linkb{
	border:0px;
	margin:0 auto;
}
.W_linkb .W_moredown{
	background:none transparent scroll repeat 0% 0%;
	display:block;
	height:32px;
	line-height:32px;
	font-size:12px;
	font-family:'Microsoft YaHei', 宋体, Tahoma, Verdana, Arial, Helvetica, sans-serif;
	margin:0px;
	padding:0px;
	white-space:nowrap;
	text-decoration:none;
	border:0px;
}
.layer_menu_list{
	background-color:#FFF;
	border:#ccc 1px solid;
	padding:1px;
	color:#666;
	font-size:12px;
	font-family:'Microsoft YaHei', 宋体, Tahoma, Verdana, Arial, Helvetica, sans-serif;
	position:absolute;
	z-index:99;
	zoom:1;
	display:none;
}
.layer_menu_list li{
	position:static;
	display:inline;
	float:none;
	color:#666;
}
.layer_menu_list li a{
	display:block;
	color:#666 !important;
	padding:5px 10px;
	text-decoration:none;
	white-space:nowrap;
}
.layer_menu_list li a:LINK{
	background-color:#FFF;
}
.layer_menu_list li a:VISITED{
	background-color:#FFF;
}
.layer_menu_list li a:HOVER{
	background-color:#EEE;
}